.header {
    background: plum;
}

.header__inner {
    margin: 0 auto;
    padding: 10px 15px;
    max-width: 1230px;
}

.header-utilities {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-image {
    width: 300px;
    height: auto;
}

.header-utilities nav {
    width: 300px;
}

.header-nav {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

.header-nav__link {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.header-nav__button {
    border: none;
    background: transparent;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    width: 150px;
}
